<div class="container">
    <h1>{{title}}</h1>
    <hr>
    <div class="row">
        <form action="" method="post">
            <div class="mb-2">
                <input class="from-control" type="text"  placeholder="Nombre" name="nombre" value="{{nombreForm}}">
            </div>
            <div class="mb-2">
                <input class="from-control"  type="email"  placeholder="Email" name="email" value="{{emailForm}}">
            </div>
            <div class="mb-2" >
                <input class="from-control" type="localidad"  placeholder="Localidad" name="localidad" value="{{localidadForm}}">
            </div>
            <div>
                <input type="submit" value="Enviar" class="button btn-primary">
            </div>





        </form>
    </div>
</div>