<div class="container">
    <p>
        Correo electronico enviado
    </p>{{nombreForm}}
    <ul>
        <li>{{nombreForm}}</li>
        <li>{{emailForm}}</li>
        <li>{{localidadForm}}</li>
    </ul>
</div>