<body>
    <form action="/create-user" method="POST"><!-- esta hace que todos operen juntos en el formulario -->
        <div><br>
            <input type="text" name="email" id="email">
            <label for="email">email</label>
        </div> <br>
        <div>
            <input type="password" name="password" id="password"><!-- este pone el cuadrado -->
            <label for="password">contraseña</label><!-- este pone el nombre al cuadrado -->
            
        </div><br>
        <div>
            <input type="text" name="nombre" id="nombre"><!-- este pone el cuadrado -->
            <label for="nombre">nombre</label>

        </div><br>
        <div>
            <button type="submit"><!-- gnera el boton de enviar -->
                enviar
            </button>
        </div>
    </form>

    
</body>
</html>